build --action_env TF_HEADER_DIR="/home/somasree/anaconda3/envs/pymc-dev-py39/lib/python3.9/site-packages/tensorflow/include"
build --action_env TF_SHARED_LIBRARY_DIR="/home/somasree/anaconda3/envs/pymc-dev-py39/lib/python3.9/site-packages/tensorflow"
build --action_env TF_SHARED_LIBRARY_NAME="libtensorflow_framework.so.2"
build --action_env TF_CXX11_ABI_FLAG="1"
build --action_env TF_CPLUSPLUS_VER="c++17"
build --spawn_strategy=standalone
build --strategy=Genrule=standalone
build  --experimental_repo_remote_exec
build -c opt
build --cxxopt="-D_GLIBCXX_USE_CXX11_ABI="1
build --copt=-mavx
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
