# Tensorflow cpu-only version.
tf-nightly-cpu~=2.16.1  # Pin to TF 2.16

# Torch with cuda support.
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.0+cu121
torchvision==0.17.0+cu121

# Jax cpu-only version.
jax[cpu]

-r requirements-common.txt