name: Tests

on:
  push:
  pull_request:
  workflow_call:
  release:
    types: [created]

permissions:
  contents: read

jobs:
  keras_2:
    name: Test the code with Keras 2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - name: Get pip cache dir
      id: pip-cache
      run: |
        python -m pip install --upgrade pip setuptools
        echo "::set-output name=dir::$(pip cache dir)"
    - name: pip cache
      uses: actions/cache@v4
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        pip install tensorflow~=2.15.0
        pip install torch>=2.0.1+cpu
        pip install "jax[cpu]"
        pip install keras-core
        pip install keras-nlp-nightly --no-deps
        pip install tensorflow-text==2.15
        pip install -e ".[tests]" --progress-bar off --upgrade
    - name: Test with pytest
      env:
        KAGGLE_USERNAME:  ${{ secrets.KAGGLE_USERNAME }}
        KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
        TEST_CUSTOM_OPS: false
      run: |
        pytest keras_cv/ --ignore keras_cv/models/legacy/ --durations 0
  keras_3:
    name: Test the code with Keras 3
    strategy:
      fail-fast: false
      matrix:
        backend: [tensorflow, jax, torch]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - name: Get pip cache dir
      id: pip-cache
      run: |
        python -m pip install --upgrade pip setuptools
        echo "::set-output name=dir::$(pip cache dir)"
    - name: pip cache
      uses: actions/cache@v4
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install -e ".[tests]" --progress-bar off --upgrade
        pip install keras-nlp-nightly
    - name: Test with pytest
      env:
        TEST_CUSTOM_OPS: false # TODO(ianstenbit): test custom ops, or figure out what our story is here
        KERAS_BACKEND: ${{ matrix.backend }}
        KAGGLE_USERNAME:  ${{ secrets.KAGGLE_USERNAME}}
        KAGGLE_KEY: ${{ secrets.KAGGLE_KEY}}
        JAX_ENABLE_X64: true
      run: |
        pytest keras_cv/src/bounding_box \
               keras_cv/src/callbacks \
               keras_cv/src/losses \
               keras_cv/src/layers/object_detection \
               keras_cv/src/layers/preprocessing \
               keras_cv/src/models/classification \
               keras_cv/src/models/object_detection/retinanet \
               keras_cv/src/models/object_detection/yolo_v8 \
               keras_cv/src/models/object_detection/faster_rcnn \
               keras_cv/src/models/object_detection/mask_rcnn \
               keras_cv/src/models/object_detection_3d \
               keras_cv/src/models/segmentation \
               --durations 0
  format:
    name: Check the code format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - name: Get pip cache dir
      id: pip-cache
      run: |
        python -m pip install --upgrade pip setuptools
        echo "::set-output name=dir::$(pip cache dir)"
    - name: pip cache
      uses: actions/cache@v4
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install -e ".[tests]" --progress-bar off --upgrade
        pip install keras-nlp-nightly
    - name: Lint
      run: bash shell/lint.sh
    - name: Check for API changes
      run: |
        bash shell/api_gen.sh
        git status
        clean=$(git status | grep "nothing to commit")
        if [ -z "$clean" ]; then
          echo "Please run shell/api_gen.sh to generate API."
          exit 1
        fi
    - name: Clang
      uses: DoozyX/clang-format-lint-action@v0.18
      with:
        source: '.'
        extensions: 'h,c,cpp,hpp,cc'
        clangFormatVersion: 14
        style: google
